---
import Layout from '../layouts/Layout.astro';
---
<Layout title="Welcome to Astro.">
    <main class="container">
        <p>Dans le monde du foot, plusieurs joueurs se démarquent des autres.
        en général ces joueurs sont récompensés d'un ballon d'or.
         </p>
         <h1>Qu'esque le ballon d'or et quand a t'il été créé ?</h1>
         <p>Créé en 1956 par le magazine France Football, ce titre est, à l'origine, attribué au meilleur joueur disposant d'une 
            nationalité européenne évoluant dans un championnat européen. De 1995 à 2006, le « Ballon d'or » est attribué au meilleur
             joueur évoluant dans un championnat européen sans distinction de nationalité. Depuis 2007, il récompense le meilleur joueur
              au monde, c'est-à-dire sans distinction de championnat ni de nationalité.
        <h1></h1>
    
    
    
    
    </p></main>
</Layout>
<style>




    
</style>